<html>
   <body>
      <form action = "http://localhost:9999/result" method = "POST">
         <p>PassengerId <input type = "text" name = "PassengerId" /></p>
         <p>Pclass <input type = "text" name = "Pclass" /></p>
         <p>Age <input type = "text" name = "Age" /></p>
         <p>SibSp <input type = "text" name = "SibSp" /></p>
         <p>Parch <input type = "text" name = "Parch" /></p>
         <p>Fare <input type = "text" name = "Fare" /></p>
         <p>male <input type = "text" name = "male" /></p>
         <p>Q <input type = "text" name = "Q" /></p>
         <p>S <input type = "text" name = "S" /></p>
      </form>
   </body>
</html>